In [2]:
salesperson_revenue = {
    "Ben": 0,
    "Omer": 0,
    "Karen": 0,
    "Celine": 0,
    "Sue": 0,
    "Bora": 0,
    "Rose": 0,
    "Ellen": 0,
}

In [3]:
def enter_revenue(name, revenue):
  global salesperson_revenue
  salesperson_revenue[name] += revenue

In [4]:
while True:
  name = input("Employees name:")
  if name == "quit":
    break
  revenue = int(input("Enter revenue:"))
  enter_revenue(name, revenue)
  print(f"{name}'s revenue is {salesperson_revenue[name]}")

Employees name:Ben
Enter revenue:20
Ben's revenue is 20
Employees name:Omer
Enter revenue:50
Omer's revenue is 50
Employees name:Ben
Enter revenue:115
Ben's revenue is 135
Employees name:Ben
Enter revenue:135
Ben's revenue is 270
Employees name:quit

In [5]:
print(salesperson_revenue)

{'Ben': 270, 'Omer': 50, 'Karen': 0, 'Celine': 0, 'Sue': 0, 'Bora': 0, 'Rose': 0, 'Ellen': 0}